<h1>New construction resource</h1>

<%= render "form", construction_resource: @construction_resource %>

<br>

<div>
  <%= link_to "Back to construction resources", construction_resources_path %>
</div>
