
<h1>Marcas</h1>
<table class="table table-bordered table-dark table-hover w-50">
<thead>
<tr>
<th>ID</th>
<th>Marcas</th>
</tr>
</thead>
<tbody>
<div id="brands">
    <% @brands.each do |brand| %>
    <tr>
      <%= render brand %>   
      </tr>
    <% end %>
</tbody>
</table>
</div>
<%= link_to "New brand", new_brand_path, class: "btn btn-outline-primary" %>


